<?xml version="1.0"?>
<launch>

  <!-- Parameters of the ur5 driver -->
  <arg name="arm_ip" default="192.168.1.12"/>
  <arg name="min_payload" default="0.0"/>
  <arg name="max_payload" default="10.0"/>

  <arg name="hand_ip" default="192.168.1.11"/>
  
  <!-- ur5 -->
  <include file="$(find ur_modern_driver)/launch/ur_common.launch">
    <arg name="robot_ip" value="$(arg arm_ip)"/>
    <arg name="min_payload" value="$(arg min_payload)"/>
    <arg name="max_payload" value="$(arg max_payload)"/>
    <arg name="prefix" value="ur5_"/>
  </include>

  <!-- Gripper -->
  <node name="robotiqSModel" pkg="robotiq_s_model_control" type="SModelTcpNode.py" args="$(arg hand_ip)"/>
  <node name="sModelStatePublisher" pkg="robotiq_joint_state_publisher" type="s_model_joint_states">
    <param name="prefix" value="s_model_" />
  </node>
  <!-- Gripper action server-->
  <include file="$(find robotiq_s_model_action_server)/launch/robotiq_s_model_action_server.launch"/>


  <!-- Force Torque 150, not yet integrated -->
  <!--  <node name="forceTorque" pkg="robotiq_force_torque_sensor" type="rq_sensor"/> -->


</launch>
