<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="arm" > 
  <xacro:property name="pi" value="3.1415926535897931" />

  <!-- include macro definitions -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />
  <xacro:include filename="$(find robotiq_s_model_visualization)/cfg/s-model_articulated_macro.xacro" />
	
  <!-- ft150 -->
  <xacro:include filename="$(find robotiq_force_torque_sensor)/urdf/robotiq_fts150.urdf.xacro" />

  <!-- arm -->
  <xacro:ur5_robot prefix="" joint_limited="true"/>

  <xacro:robotiq_fts150 prefix="ft_" parent="ee_link">    
    <origin xyz="0.0 0.0 0.012" rpy="0.0 ${pi/2} 0.0" />
  </xacro:robotiq_fts150>

  <!-- the adaptive gripper -->
  <xacro:s-model_articulated prefix="s_model_"/>
  <joint name="gripper_joint" type="fixed">
    <parent link="ft_fts_toolside" />
    <child link = "s_model_palm" />
    <origin xyz="0.0 0.0 0.06" rpy="${pi/2} 0.0 ${pi/2}" />
  </joint>
</robot>
